.dog-avatar {
  width: 100px;
  height: 100px;
}

.dog-index-one {
  margin: auto;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 5px;
}

.dog-container {
  display: flex;
  background-color: white;
  padding: 10px;
  width: 800px;
  margin: 0 auto;
}

.dog-card {
  width: 700px;
  box-sizing: border-box;
  height: fit-content;
  display: flex;
  margin: 0 auto;
  padding: 10px;
  background-color: white;
}

.list-title {
  width: 820px;
  margin: 0 auto;
}

.dog-info-box {
  padding: 0px 10px 10px 10px;
}

.dog-name {
  color: #c60;
}

.dog-name:hover {
  color: #f93;
}

.move-right {
  padding-left: 10px;
}

.dog-links {
  display: flex;
  justify-content: space-between;
}

.checkin-button {
  height: 52px;
  width: 52px;
  background-color: #ffcc00;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.checkin-button:hover {
  background-color: #f4b800;
  cursor: pointer;
}

.petshop-show-description{
  width: 100%;
  height: 100%;
}

.hide-button{
  visibility: hidden;
}