.home-container {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  margin-top: 59px;
  align-items: center;
}

.user-home-content {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  width: 1000px;
}

.user-left-feed {
  box-sizing: border-box;
  width: 700px;
  height: fit-content;
  padding: 20px;
}

.user-right-feed {
  box-sizing: border-box;
  width: 300px;
  padding: 20px;
}

.user-profile {
  background-color: white;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 250px;
  display: flex;
  padding: 16px;
  flex-direction: column;
}

.user-name {
  font-size: 1.1em;
  line-height: 1.125em;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-container{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.footer-links{
  padding-left: 25px;
  padding-right: 25px;
  color: #c60;
  font-size: 20px;
}