body {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.nav-bar-container {
  display: flex;
  justify-content: space-between;
}

.splash-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  align-content: flex-end;
  justify-content: flex-start;
  margin: auto;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(url_asset("dog_park.png")); */
  height: 100vh;
}

.splash-login-container {
  display: inline-block;
  align-content: flex-end;
  text-align: end;
}

.login-button,
.signup-button {
  display: inline-block;
  box-sizing: border-box;
  text-transform: uppercase;
  margin-right: 15px;
  border-radius: 4px;
  padding: 15px 20px;
  font-size: 1em;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  vertical-align: middle;
  line-height: 1;
  text-align: center;
  transition: background-color .25s ease-out,color .25s ease-out;
}

.login-button:hover,
.signup-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.login-button:active,
.signup-button:active {
  outline: none
}

.unleashd-logo,
.login-header,
.signup-header {
  color: white;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  margin-top: 10px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.unleashd-logo-sub {
  margin-bottom: 12px;
  font-size: 17px;
  color: gray;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.unleashd-description {
  color: white;
  text-align: center;
  font-size: 25px;
  padding-bottom: 15px;
  width: 300px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-sizing: border-box;
  margin: 0px 0px;
  padding: 0px 0px;
  height: 100vh;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
  url("dogs_running.jpg"); */
}

.signup-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: black;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 0px 0px;
  padding: 0px 0px;
  height: 100vh;
}

.login-container{
  display: flex;
  width: 380px;
  background-color: white;
  flex-direction: column;
  align-content: center;
  box-sizing: border-box;
  align-items: center;
  padding: 15px 40px;
  margin: 75px 30px;
}

.signup-container {
  display: flex;
  width: 630px;
  background-color: white;
  flex-direction: column;
  align-content: center;
  box-sizing: border-box;
  align-items: center;
  padding: 15px 40px;
  margin: 75px 30px;
}

.login-submit-container, .signup-submit-container {
  margin-bottom: 2px;
  margin-top: 5px;
  text-align: center;
  width: 100%;
}

.login-submit-button, .signup-submit-button {
  margin-top: 4px;
  border: none;
}

.login-submit-button:hover, .signup-submit-button:hover {
  background-color: darkgoldenrod;
  cursor: pointer;
}

.login-submit-button:active, .signup-submit-button:active,
.login-submit-button:focus, .signup-submit-button:focus {
  outline: none;
}

.login-submit-button {
  width: 100%;
  padding: 1px 7px 2px;
  border-width: 1px;
  border-style: solid;
  color: white;
  border-radius: 4px;
  background-color: orange;
  font-size: 20px;
  margin: 15px 0;
  padding: 10px 0;
}

.signup-submit-button {
  width: 250px;
  padding: 1px 7px 2px;
  border-width: 1px;
  border-style: solid;
  color: white;
  border-radius: 4px;
  background-color: orange;
  font-size: 20px;
  margin: 15px 0;
  padding: 10px 0;
}

.login-header, .signup-header {
  color: #333333;
  font-size: 40px;
  padding-bottom: 1px;
  font-weight: bold;
}

.login-subheader, .signup-subheader {
  margin-bottom: 5px;
  font-size: 17px;
  color: gray;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input-container{
  position: relative;
  background-size: 33px 23px;
  background-position: center left;
  background-repeat: no-repeat;
  border: 1px lightgrey solid;
  opacity: 0.7;
  border-radius: 4px;
  margin-bottom: 5px;
}

.input {
  position: relative;
  width: 80%;
  font-weight: 400;
  font-size: 20px;
  padding: 3px;
  margin: 5px 0;
  left: 40px;
  border: none;
}

.input:focus{
  outline: none;
}

.login-form, .signup-form {
  width: 100%;
  border-bottom: 2px solid darkgrey;
}

.signup-form {
  width: 100%;
}

.login-container-bottom, .signup-container-bottom {
  font-size: 20px;
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.masthead-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  margin-top: 5px;
}

.description-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
}

.description-image {
  display: flex;
  width: 450px;
  margin-left: 40px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.description-image img {
  border-radius: 30px;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid black;
}

.dog-paw{
  width: 200px;
  background: transparent;
}

.login-error, .signup-error{
  background-color: #e25858;
  color: white;
  border: 5px 0px;
  padding: 10px 10px;
  border-radius: 2px;
  padding: 16px;
}

.error {
  color: #fff;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.demo-user-container{
  margin-bottom: 2px;
  margin-top: 0px;
  text-align: center;
  width: 100%;
}

.demo-user-btn{
  width: 100%;
  border-width: 1px;
  border-style: solid;
  color: white;
  border-radius: 4px;
  background-color: #3b5998;
  font-size: 20px;
  margin-top: 5px;
  padding: 10px 0;
  border: none;
}

.demo-user-btn:hover{
  cursor: pointer;
}

.demo-user-btn:active, .demo-user-btn:focus{
  outline: none;
}


.or{
  margin: 10px auto;
    text-transform: uppercase;
    width: 36px;
    height: 36px;
    text-align: center;
    border-radius: 18px;
    padding-top: 8px;
    box-sizing: border-box;
    font-size: 0.8em;
    color: #ddd;
    border: 3px solid #ddd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.signup-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.name-container{
  box-sizing: border-box;
  position: relative;
  width: 250px;
  padding-left: 10px;
  border: 1px lightgrey solid;
  border-radius: 4px;
  margin: 8px;
  opacity: 0.7;
}

.signup-input-container{
  box-sizing: border-box;
  position: relative;
  width: 250px;
  background-size: 35px 25px;
  background-position: center left;
  background-repeat: no-repeat;
  border: 1px lightgrey solid;
  border-radius: 4px;
  margin: 8px;
  opacity: 0.7;
}

.name-input{
  position: relative;
  width: 90%;
  font-weight: 400;
  font-size: 20px;
  padding: 3px;
  margin: 5px 0;
  border: none;
}
.name-input:focus {
  outline: none;
}

.signup-input {
  position: relative;
  width: 75%;
  padding-left: 3px;
  font-weight: 400;
  font-size: 20px;
  padding: 3px;
  margin: 5px 0;
  left: 40px;
  border: none;
}

.signup-input:focus{
  outline: none;
}

.field-instructions-form, .field-instructions-password{
  color: #666;
  font-size: 0.8em;
  line-height: 1.2em;
  text-align: center;
  font-weight: bold;
  margin: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.field-instructions-password{
  color: black;
  margin-bottom: 0px;
}

.short-rule{
  background: #ffc000;
  height: 4px;
  margin: 10px 0;
  width: 50px;
}

.home-icon{
  color: white;
  font-size: 30px;
}

::placeholder{
  font-size: 15px;
}