.super_nice {
    font-size: large;
}

.splash-container{
    display: flex;
    background-color: beige;
}

.login-button {
    text-transform: capitalize;
}

.signup-button {
    text-transform: capitalize;
}