body {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.nav-bar-container {
  display: flex;
  justify-content: space-between;
}

.splash-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  align-content: flex-end;
  justify-content: flex-start;
  margin: auto;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)); */
}

.splash-login-container {
  display: inline-block;
  align-content: flex-end;
  text-align: end;
}

.login-button,
.signup-button {
  display: inline-block;
  box-sizing: border-box;
  text-transform: uppercase;
  margin-right: 15px;
  border-radius: 4px;
  padding: 15px 20px;
  font-size: 1em;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  vertical-align: middle;
  line-height: 1;
  text-align: center;
}

.login-button:hover,
.signup-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.unleashd-logo,
.login-header,
.signup-header {
  color: white;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  margin-top: 10px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.unleashd-logo-sub {
  margin-bottom: 12px;
  font-size: 17px;
  color: gray;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.unleashd-description {
  color: white;
  text-align: center;
  font-size: 25px;
  padding-bottom: 15px;
  width: 300px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: black;
  box-sizing: border-box;
  margin: 0px 0px;
  padding: 0px 0px;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
  url("dogs_running.jpg"); */
}

.signup-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: black;
  box-sizing: border-box;
  margin: 0px 0px;
  padding: 0px 0px;
}

.login-container{
  display: flex;
  width: 380px;
  background-color: white;
  flex-direction: column;
  align-content: center;
  box-sizing: border-box;
  align-items: center;
  padding: 15px 40px;
  margin: 75px 30px;
}

.signup-container {
  display: flex;
  width: 500px;
  background-color: white;
  flex-direction: column;
  align-content: center;
  box-sizing: border-box;
  align-items: center;
  padding: 15px 40px;
  margin: 75px 30px;
}

.login-submit-container {
  margin-bottom: 2px;
  margin-top: 5px;
  text-align: center;
  width: 100%;
}

.login-submit-button {
  margin-top: 4px;
}

.login-submit-button:hover {
  background-color: darkgoldenrod;
  cursor: pointer;
}

.login-submit-button {
  width: 100%;
  padding: 1px 7px 2px;
  border-width: 1px;
  border-style: solid;
  color: white;
  border-radius: 4px;
  background-color: orange;
  font-size: 20px;
  margin: 15px 0;
  padding: 5px 0;
}

.login-header, .signup-header {
  color: #333333;
  font-size: 40px;
  padding-bottom: 1px;
  font-weight: bold;
}

.login-subheader, .signup-subheader {
  margin-bottom: 12px;
  font-size: 17px;
  color: gray;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input {
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  padding: 3px;
  margin: 5px 0;
  border-radius: 4px;
}

.login-form, .signup-form {
  width: 100%;
}

.login-container-bottom {
  font-size: 20px;
  margin-top: 5px;
}

.masthead-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 5px;
}

.description-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
}

.description-image {
  display: flex;
  width: 400px;
  border-radius: 5px;
  margin-left: 40px;
  margin-top: 15px;
}

.description-image img {
  border-radius: 10px;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid black;
}

.dog-paw{
  width: 200px;
  background: transparent;
}

.login-error, .signup-error{

}
